@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/minecraft-4');

@font-face {
    font-family: 'minecraft-font1';
    src: url('fonts/MinecraftTen.woff') format('woff');
}
.wrapper-parent {
    position: relative;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-position: center center;
}
body{
    background: linear-gradient(#1d1d1d, #346299) center center no-repeat;
    height: 100%;
    background-size:cover;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    
}
.TOVARS{
    display: grid
;
    grid-row-gap: 4vw;
    justify-content: center;
    align-items: center;
    padding: 200px;
    order: 2;
    flex-grow: 0;
    width: calc(100% - 20vw);
    }


.str2 {
    grid-row-start: 2;
}

.Tovar {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
    width: 25vw;
    height: 30vw;
    background: #666666;
    border: 10px solid #555555;
    border-radius: 30px;
    transition: 250ms;
}
.Tovar:hover{
    transform: scale(1.01);
    transition: 250ms;
}
.meet{
    position:relative;
    display: flex;
    flex-direction: row;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 20px solid #242424 ;
    border-radius: 20px;
    border-color: #242424;
    background: #1d1d1d ;
    padding: 400px 400px 0 60px;
    width: calc(100% - 80vw);
    
    font-size: 70px;
    font-weight: 800;
    

}
.meeter{
    position: relative;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-position: center center;
    padding-top: 60px;
}

.meet-text {
    position: absolute;
    top: 240px;
    left: 290px;
    color: #37afff;
}

.text {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    width: 550px;
    text-align: center;
    left: 170px;
}
.header{
   font-family: 'minecraft-font1';
}
.imag{
    background: #ffffff00;
    border-radius: 30px;
    width: 25vw;
    height: 25vw;
}
.description{
    background: #fff;
    border-radius: 30px;
    
    width: 25vw;
    height: 20vw;
    
    background-position: bottom;
    justify-content: center;
    text-align: center;
    font-family: "Minecraft";
}
.description p {
    font-size: 18px;
    padding: 10px 5px;
    background: #e0e0e0;
}
.description h2{
    background: #e0e0e0;
}
.description button{
    background: #999999;
    border-radius: 30px;
    border-style: none;
    padding: 10px 50px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 20px;
    transition: 250ms;
}  
.description button:hover{
    transform: scale(1.04);
    cursor: pointer;
    border: solid 3px #838383;
} 

.logo {
    justify-content:stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37afff;
}
